<div class="banner">
  <div class="col-md-2"
    <a href="http://datacarpentry.org" title="Data Carpentry">
      <img alt="Data Carpentry banner" src="{{site.dc_site}}/images/DC1_logo_small.png" />
    </a>
  </div>
  <div class="col-md-6"
    <a id="btn" href="https://www.archer.ac.uk/" title="ARCHER">
       <img alt="ARCHER logo" src="{{page.root}}/img/software-carpentry-banner.png" />
     </a>
  </div>
  <div class="col-md-4"
     <a id="btn" href="https://www.software.ac.uk/" title="Software Sustainability Institute">
       <img alt="SSI logo" src="img/ssi.png" />
     </a>
  </div>
</div>
